/* ЗМІННІ */
:root {
  --main-color: #450247;
  --main-font: 'EB Garamond', serif;
  --second-font: 'Roboto', sans-serif;
}

/* animation */
@keyframes buttonAnimation {
  0% {
    background-color: #450247;
  }
  50% {
    background-color: #12d400;
    scale: 1.5;
  }
  100% {
    background-color: #ec1c00;
    transform: rotate(360deg);
  }
}

body {
  font-family: var(--main-font);

  /* Фон на всю сторінку */
  background-image: linear-gradient(45deg, rgba(242, 254, 255, 0), rgba(255, 255, 255, 0.219)),
    url(/images/light-background.jpg);
  background-size: cover;
  background-position: 20% 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  text-decoration: none;
}

a {
  text-decoration: none;
}

section {
  padding: 80px 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  border: 2px dashed gray;
}

.header {
  position: fixed;
  z-index: 100;

  padding-top: 65px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  background: rgb(21, 8, 255);
  background: linear-gradient(
    180deg,
    rgba(21, 8, 255, 0.5942752100840336) 0%,
    rgba(170, 224, 27, 0.5914740896358543) 52%,
    rgba(0, 213, 255, 0) 96%
  );
}

.header-nav {
  width: 800px;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-link {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color, rgb(231, 0, 0));
}

.header-link:hover,
.header-link:focus {
  color: rgb(255, 255, 255);
}

.fixed-button {
  position: fixed;
  bottom: 100px;
  right: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: white;
  background-color: #450247;
  border-radius: 50px;
  border: none;
}

.fixed-button:hover,
.fixed-button:focus {
  animation: buttonAnimation 2s linear infinite;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 240px;
}

.hero-title {
  font-size: 30px;
  text-decoration: underline;
  color: var(--main-color);
}

.hero-button {
  position: absolute;
  top: 260px;
  right: 100px;
  width: 80px;
  height: 50px;
  padding: 8px;
}

.hero-image {
  margin-bottom: 40px;
  background-color: rgb(253, 244, 162);
  border-radius: 20px;
}

.hero-video {
  margin-bottom: 40px;
  border-radius: 20px;
}

.hero-audio {
  width: 800px;
}

.price-table {
  border-collapse: collapse;
}

.price-table th,
.price-table td {
  font-size: 22px;
  padding: 10px;
  border: 1px solid rebeccapurple;
}

.price-body > tr:hover {
  background-color: rgba(255, 99, 71, 0.548);
  color: white;
  cursor: pointer;
}

.description-second {
  overflow: auto;
  width: 500px;
  height: 500px;
  border: 2px solid #450247;
  /* flex-grow: 1; */
  background-color: #b540b938;
}

.description {
  font-family: var(--second-font);
  font-size: 24px;
  line-height: 1.5;
  text-indent: 20px;
  border: 2px dashed rgb(47, 199, 80);
}

.description-title {
  width: 150px;
  border: 2px dashed red;
  margin-right: 20px;
}

.description::first-letter {
  color: blue;
}

.description-cover {
  display: flex;
  align-items: baseline;
  padding: 10px;
  border: 1px solid tomato;
}

.buttons-cover {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  border: 2px dashed purple;
}

.filter-button {
  flex-basis: calc((100% - 30px) / 4);
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.filter-button:first-child {
  color: aliceblue;
  background-color: #450247;
}

.filter-button:last-child {
  background-color: aqua;
}

.filter-button:hover {
  color: white;
  background-color: rgba(137, 43, 226, 0.404);
  scale: 1.05;
  box-shadow: 0px 0px 10px 4px rgb(129, 230, 243);
}

.functional {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0.219)),
    url(/images/background.jpg);
  background-size: cover;
}

/* Псевдо елементи декор */

.decor-cover {
  display: flex;
  justify-content: space-around;
}

.decor-text {
  width: 400px;
  font-size: 20px;
}

.decor-text::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: aliceblue;
  border-radius: 50px;
}

.decor-text::after {
  content: '';
  display: block;
  margin-top: 6px;
  width: 1px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  transition-property: width;
  transition-duration: 500ms;
}

.decor-text:hover::after {
  width: 400px;
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px 4px rgb(255, 255, 255);
}

.decoration-svg {
  display: flex;
  justify-content: space-around;
}

.svg-icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
}

.svg-list {
  display: flex;
  width: 500px;
  gap: 10px;
  justify-content: center;
}

.svg-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  color: white;
  background-color: #450247;
  border-radius: 50px;
}

.svg-item:hover,
.svg-item:focus {
  color: #450247;
  background-color: rgba(255, 255, 255, 0.329);
  border: 1px solid #450247;
  scale: 1.4;
  transition-property: color, background-color, scale, transform;
  transition-duration: 500ms;
  transform: rotate(360deg);
}
